@model WebApplicationSamplePartialView.PartialView

<tr>
    <td>
        @Html.DisplayFor(modelItem => Model.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.Gender)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.City)
    </td>
</tr>  